.itemDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

/* For Mobile devices: 280px-480px */
@media screen and (min-width: 280px) and (max-width: 320px) {
  .itemDescription {
    gap: 0;
  }
}

/* For Mobile devices: 320px-480px */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .itemDescription {
    gap: 0;
  }
}

/* For Tablets or iPad: 480px - 768px */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .itemDescription {
    gap: 0;
  }
}

/* For Laptop or small-size screen: 768px - 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemDescription {
    gap: 0;
  }
}